.superadmin-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a:hover {
  color: #38bdf8;
}

.logout-btn {
  margin-top: auto;
  background: red;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: #f3f4f6;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.admin-table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.btn.red {
  background-color: #dc2626;
  color: white;
}

.btn.red:hover {
  background-color: #b91c1c;
}.btn.green {
  background-color: #16a34a;
  color: white;
}

.btn.green:hover {
  background-color: #15803d;
}.btn.yellow {
  background-color: #f59e0b;
  color: white;
}

.btn.yellow:hover {
  background-color: #d97706;
}


.ads-container {
  padding: 30px;
}

.ad-card {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.ad-card img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.ad-content {
  flex: 1;
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.badge.pending {
  background: #fff3cd;
  color: #856404;
}

.badge.approved {
  background: #d4edda;
  color: #155724;
}

.badge.rejected {
  background: #f8d7da;
  color: #721c24;
}

.ad-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.btn.green {
  background: #28a745;
}

.btn.yellow {
  background: #ffc107;
  color: black;
}

.btn.red {
  background: #dc3545;
}